// |||||||||||||| ********* REGOLE GENERALI *********  |||||||||||||
//
@mixin generalRules {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #58402c;
  font-family: "HarmoniaSansProCyr-Regular", Arial, sans-serif;
}

// |||||||||||||| ********* FLEX *********  |||||||||||||
//
@mixin flexPuro {
  display: flex;
}
//
@mixin flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
//
@mixin flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
//
@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
//
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
//
@mixin flexSpaceAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
//
@mixin flexColumnCenter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
//
@mixin flexColumn {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
// |||||||||||||| ********* IMG *********  |||||||||||||
//
@mixin imgSocialSize {
  height: 15px;
  width: 15px;
}
//
@mixin imgGatto {
  height: 110px;
    width: 70px;
}

// |||||||||||||| ********* LIST FOOTER *********  |||||||||||||
@mixin spanUlLi {
  span {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: $line-height4;
  }
  ul {
    li {
      list-style-type: none;
      line-height: $line-height3;
      a {
        text-decoration: none;
      }
      &:hover {
        a {
          color: #233569;
        }
      }
    }
  }
}
