
//  ||||||||||||||||| NAV-BAR |||||||||||||||||||
  @mixin navBar {
    header {
      width: 100%;
      margin: $margin0Auto;
      .container{
        width: 80%;
        margin: $margin0Auto;
        .nav_bar {
          height: 70px;
          width: 100%;
          @include flexSpaceBetween;
          .logo_sx {
            padding: 5px;
          }
          .menu_dx {
            min-width: 40%;
            @include flexCenter;

            li {
              font-size: 12px;
              font-weight: 600;
              display: inline-block;
              list-style-type: none;
              padding: 5px 20px;
              text-decoration: none;
              a {
                color: brown;
                @include flexCenter;
              }
            }
          }
        }
      }
    }
    }
// Bottone Gmail in navbar
  @mixin bottoneGmail {
    .bottone-gmail {
      height: 40px;
      width: 90px;
      border-radius: 10px;
      border: solid blue 1px;
      color: blue;
      font-weight: 400;
      font-size: 14px;
      @include flexSpaceAround;
      .gmail {
        @include imgSocialSize;
        display: $block;
      }
      i {
        display: $none;
      }
      &:hover {
        background: blue;
        color: white;
        font-weight: 500;
        transition: 1s;
        .gmail {
          display: $none;
        }
        i {
          color: white;
          display: $block;

        }
      }
    }
  }

//  ||||||||||||||||| JUMBOTRON |||||||||||||||||||

  @mixin jumboTron {
    .container-jumbotron {
      height: $height;
      width: 80%;
      @include flexPuro;
      margin: $margin0Auto;
      .container-sx {
        height: $height;
        width: 50%;
        @include flexColumn;
        h1 {
          font-size: 60px;
          line-height: $line-height;

        }
        h2 {
          width: 70%;
          font-size: 21px;
          font-weight: 100;
          line-height: 35px;
          padding-top: $paddingTop;
        }
        .social-button {
          @include flexPuro;
          padding: 10px 0;
          .button1 {
            @include flexCenter;
            width: 26%;
            height: 40px;
            border-radius: 10px;
            background-color: #30488f;
            color: white;
            .gmail{
              @include imgSocialSize;
            }
            &:hover {
              background-color: #233569;
              font-weight: 500;
              transition: 0.3s;
            }
          }

          p{
            padding: 10px;
          }
          .button2 {
            @include flexCenter;
            width: 26%;
            height: 40px;
            border-radius: 10px;
            background-color: #30488f;
            color: white;
            .gmail{
              @include imgSocialSize;
            }
            &:hover {
              background-color: #233569;
              font-weight: 500;
              transition: 0.5s;
            }
          }
        }
      }

      .container-dx {
        height: $height;
        width: 50%;
        @include flexCenter;
        img {
          height: 400px;
          width: 100%;
        }
      }
    }
  }

  //  ||||||||||||||||| SECTION 1 |||||||||||||||||||

  @mixin section1 {
    .sezione-completa {
      height: 2170px;
      width: 100%;
      background-color: #ffe7d2;
        // ||||||||||||| SEZIONE-UP
      .sezione-up {
        height: 1000px;
        width: 70%;
        margin: 100px auto;
        border-bottom: solid grey 1px;
        .text {
          text-align: center;
          height: 100px;
          width: 45%;
          margin: $margin0Auto;
          line-height: 40px;
          margin-top: 85px;
          h2 {
            padding-top: 60px;
          }
        }
        .tre-immagini {
          height: 330px;
          width: 80%;
          @include flexCenter;
          margin: $margin090 ;

          .img1 {
            height: 300px;
            width: 250px;
            margin: $margin0Auto;
            @include flexColumnCenter;
            img {
              height: $height1;
              width: $width15;
            }
            p {
              line-height: $line-height2;
              font-size: 18px;
              text-align: $textAlignCenter;
              margin: $margin;
            }
          }
          .img2 {
            height: 300px;
            width: 250px;
            margin: $margin0Auto;
            @include flexColumnCenter;
            img {
              height: $height1;
              width: $width15;
            }
            p {
              line-height: $line-height2;
              font-size: 18px;
              text-align: $textAlignCenter;
              margin: $margin;
            }
          }
          .img3 {
            height: 300px;
            width: 250px;
            margin: $margin0Auto;
            @include flexColumnCenter;
            img {
              height: $height1;
              width: $width15
            }
            p {
            line-height: $line-height2;
            font-size: 18px;
            text-align: $textAlignCenter;
            margin: $margin;
            }
          }
        }
        .immagine-singola {
          @include flexPuro;
           img {
            height: 286px;
             width: 280px;
             margin: $margin0Auto;
           }
         }
      }
      // ||||||||||||| SEZIONE-DOWN
      .sezione-down {
        height: 1000px;
        width: 70%;
        margin: 100px auto;
        .text {
          text-align: center;
          height: 100px;
          width: 45%;
          margin: $margin0Auto;
          line-height: 40px;
          margin-top: 85px;
          h2 {
            padding-top: 60px;
          }
        }
        .tre-immagini {
          height: 330px;
          width: 80%;
          @include flexCenter;
          margin: $margin090 ;

          .img1 {
            height: 300px;
            width: 250px;
            margin: $margin0Auto;
            @include flexColumnCenter;
            img {
              height: $height1;
              width: $width15;
            }
            p {
              line-height: $line-height2;
              font-size: 18px;
              text-align: $textAlignCenter;
              margin: $margin;
            }
          }
          .img2 {
            height: 300px;
            width: 250px;
            margin: $margin0Auto;
            @include flexColumnCenter;
            img {
              height: $height1;
              width: $width15;
            }
            p {
              line-height: $line-height2;
              font-size: 18px;
              text-align: $textAlignCenter;
              margin: $margin;
            }
          }
          .img3 {
            height: 300px;
            width: 250px;
            margin: $margin0Auto;
            @include flexColumnCenter;
            img {
              @include imgGatto;
            }
            p {
            line-height: $line-height2;
            font-size: 18px;
            text-align: $textAlignCenter;
            margin: $margin;
            }
          }
        }
        .immagine-singola {
          @include flexColumnCenter;
           img {
            height: 286px;
             width: 280px;
             margin: $margin0Auto;
            margin-bottom: $marginBottom;
          }
          h2 {
            font-size: 30px;
          }
        }
      }
    }
  }

  //  ||||||||||||||||| SECTION 2 |||||||||||||||||||
  @mixin section2 {
    .sezione2-completa {
    height: 640px;
    width: 100%;
    @include flexPuro;
      .box1 {
        height: 600px;
        width: 50%;
        @include flexEnd;
        img {
          height: 470px;
          width: 768px;
        }
      }
      .box2 {
        height: 600px;
        width: 50%;
        .box3 {
          height: 600px;
          width: 50%;
          .titolo1 {
            height: 100px;
            width: 100%;
            margin-top: 50px;
            h1 {
              font-size: 26px;
            }
          }
          .titolo2 {
            height: 150px;
            width: 100%;
            h2 {
              font-size: 23px;
              font-weight: 200;
              padding-bottom: 30px;
            }
            a {
              text-decoration: none;
              font-size: 20px;
              color: #30488f;
              i {
                color: #30488f;
              }
            }
          }
          .img3 {
            height: 240px;
            width: 330px;
            margin: 0 auto;
            img {
              padding-top: 20px;
              height: 240px;
              width: 330px;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }

  //  ||||||||||||||||| SECTION 3 |||||||||||||||||||
  @mixin section3 {
    .sezione3-completa {
    height: 700px;
    width: 100%;
    @include flexPuro;
      .box2-1 {
        height: 600px;
        width: 50%;
        @include flexEnd;
        .box3-1 {
          height: 600px;
          width: 50%;
          .titolo1-1 {
            height: 70px;
            width: 100%;
            margin-top: 50px;
            h1 {
              font-size: 26px;
            }
          }
          .titolo2-1 {
            height: 150px;
            width: 100%;
            h2 {
              font-size: 23px;
              font-weight: 200;
              padding-bottom: 30px;
            }
            a {
              text-decoration: none;
              font-size: 20px;
              color: #30488f;
              i {
                color: #30488f;
              }
            }
          }
          .img3-1 {
            height: 240px;
            width: 330px;
            margin: 60px auto;
            @include flexStart;
            img {
              height: 330px;
              width: 280px;
              margin: 0 auto;
            }
          }
        }
      }
      .box1-1 {
        height: 600px;
        width: 50%;
        @include flexStart;
        img {
          height: 470px;
          width: 768px;
        }
      }
    }
  }

  //  ||||||||||||||||| SECTION 4 |||||||||||||||||||
  @mixin section4 {
    .sezione4-completa {
    height: 700px;
    width: 100%;
    @include flexPuro;
      .box1-2 {
        height: 600px;
        width: 50%;
        @include flexEnd;
        img {
          height: 470px;
          width: 768px;
        }
      }
      .box2-2 {
        height: 600px;
        width: 50%;
        .box3-2{
          height: 600px;
          width: 50%;
          .titolo1-2 {
            height: 100px;
            width: 100%;
            margin-top: 50px;
            h1 {
              font-size: 26px;
            }
          }
          .titolo2-2 {
            height: 150px;
            width: 100%;
            h2 {
              font-size: 23px;
              font-weight: 200;
              padding-bottom: 30px;
            }
            a {
              text-decoration: none;
              font-size: 20px;
              color: #30488f;
              i {
                color: #30488f;
              }
            }
          }
          .img3-2 {
            height: 240px;
            width: 330px;
            margin: 0 auto;
            img {
              padding-top: 20px;
              height: 240px;
              width: 330px;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
  //  ||||||||||||||||| SECTION 5 |||||||||||||||||||
  @mixin section5 {
    .sezione5-completa {
    height: 700px;
    width: 100%;
    @include flexPuro;
      .box2-3 {
        height: 600px;
        width: 50%;
        @include flexEnd;
        .box3-3 {
          height: 600px;
          width: 50%;
          .titolo1-3 {
            height: 70px;
            width: 100%;
            margin-top: 5px;
            h1 {
              font-size: 26px;
            }
          }
          .titolo2-3 {
            height: 150px;
            width: 100%;
            h2 {
              font-size: 23px;
              font-weight: 200;
              padding-bottom: 30px;
            }
            a {
              text-decoration: none;
              font-size: 20px;
              color: #30488f;
              i {
                color: #30488f;
              }
            }
          }
          .img3-3 {
            height: 240px;
            width: 330px;
            margin: 60px auto;
            @include flexStart;
            img {
              height: 330px;
              width: 280px;
              margin: 0 auto;
            }
          }
        }
      }
      .box1-3 {
        height: 600px;
        width: 50%;
        @include flexStart;
        img {
          height: 600px;
          width: 768px;
        }
      }
    }
  }
