
// |||||||||||||| ********* DEB UG *********  |||||||||||||


// |||||||||||||| ********* HEIGHT *********  |||||||||||||
$height: 600px;

// |||||||||||||| ********* PADDING TOP *********  |||||||||||||
$paddingTop: 15px;

// |||||||||||||| ********* LINE-HEIGHT *********  |||||||||||||
$line-height: 70px;

// |||||||||||||| ********* DISPLAY BLOCK - NONE *********  |||||||||||||
$block: block;
$none: none;

// |||||||||||||| ********* POSITION FIXED *********  |||||||||||||
$fixed: fixed;

// |||||||||||||| ********* POSITION RELATIVE *********  |||||||||||||
$relative: relative;
