
// |||||||||||||| ********* MARGIN   *********  |||||||||||||
// 214-230-246
$margin: 25px;

// |||||||||||||| ********* HEIGHT *********  |||||||||||||
// 93-102-123-
$height: 600px;
// 221-227-243-292-308-
$height1: 100px;

// |||||||||||||| ********* WIDTH *********  |||||||||||||
// 212-228-244-293-309
$width15: 150px;
// |||||||||||||| ********* PADDING TOP *********  |||||||||||||
// 309-
$paddingTop: 15px;

// |||||||||||||| ********* LINE-HEIGHT *********  |||||||||||||
// 110
$line-height: 70px;
// 214-230-246
$line-height2: 30px;


// |||||||||||||| ********* DISPLAY BLOCK - NONE *********  |||||||||||||
// 69-84
$block: block;
// 72-80
$none: none;

// |||||||||||||| ********* POSITION FIXED *********  |||||||||||||
$fixed: fixed;

// |||||||||||||| ********* POSITION RELATIVE *********  |||||||||||||
$relative: relative;

// |||||||||||||| ********* MARGIN 0 AUTO *********  |||||||||||||
// 14-19-96-192-208-224-240-259-273-289-305-321-339
$margin0Auto: 0 auto;
// 203-284
$margin090: 90px auto;
// 340
$marginBottom: 30px;
// |||||||||||||| ********* TEXT ALIGN CENTER *********  |||||||||||||
// 217-233-249-298-314-329
$textAlignCenter: center;
