
// |||||||||||||| ********* MARGIN   *********  |||||||||||||
// 214-230-246
$margin: 25px;

// |||||||||||||| ********* HEIGHT *********  |||||||||||||
$height: 600px;
$height1: 100px;

// |||||||||||||| ********* WIDTH *********  |||||||||||||
$width15: 150px;
// |||||||||||||| ********* PADDING TOP *********  |||||||||||||
$paddingTop: 15px;

// |||||||||||||| ********* LINE-HEIGHT *********  |||||||||||||
// 110
$line-height: 70px;
// 214-230-246
$line-height2: 30px;


// |||||||||||||| ********* DISPLAY BLOCK - NONE *********  |||||||||||||
$block: block;
$none: none;

// |||||||||||||| ********* POSITION FIXED *********  |||||||||||||
$fixed: fixed;

// |||||||||||||| ********* POSITION RELATIVE *********  |||||||||||||
$relative: relative;

// |||||||||||||| ********* PADDING BOTTOM *********  |||||||||||||
$paddingBottom: 10px;
// |||||||||||||| ********* MARGIN 0 AUTO *********  |||||||||||||
$margin0Auto: 0 auto;
$margin040: 40px auto;
$margin090: 90px auto;
// |||||||||||||| ********* TEXT ALIGN CENTER *********  |||||||||||||
$textAlignCenter: center;
