
@import "Partials/common";
@import "Partials/variabili";

// ******************* ||||||| REGOLE GENERALI |||||||******************
* {
  @include generalRules;
}


// ******************* ||||||| NAVBAR |||||||******************
header {
  height: 70px;
  width: 80%;
  margin: 0 auto;
  // debug
  border-bottom: solid grey 1px;
}

.nav_bar {
  height: 70px;
  width: 100%;
  @include flexSpaceBetween;
  // debug
  border: solid green 1px;
}

.logo_sx {
  // debug
  border: solid blue 1px;
  padding: 5px;
}


.menu_dx {
  width: 40%;
  border: solid purple 1px;
  @include flexCenter;

  li {
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    list-style-type: none;
    padding: 5px 20px;
    text-decoration: none;
    // debug
    border: solid red 1px;

    a {
      color: brown;
      @include flexCenter;
    }
  }
}


.bottone-gmail {
  height: 40px;
  width: 90px;
  border-radius: 10px;
  border: solid blue 1px;
  color: blue;
  font-weight: 400;
  font-size: 14px;
  @include flexSpaceAround;
  .gmail {
    @include imgSocialSize;
    display: $block;
  }
  i {
    display: $none;
  }
  &:hover {
    background: blue;
    color: white;
    font-weight: 500;
    transition: 1s;
    .gmail {
      display: $none;
    }
    i {
      color: white;
      display: $block;

    }
  }
}

// ******************* ||||||| JUMBOTRON |||||||******************

.container-jumbotron {
  height: $height;
  width: 100%;
  @include flexPuro;
  // debug

}

.container-sx {
  height: $height;
  width: 50%;
  @include flexColumnCenter;

  // debug
  border: solid red 2px;
  h1 {
    font-size: 60px;
    line-height: $line-height;
  }
  h2 {
    width: 70%;
    font-size: 21px;
    font-weight: 100;
    line-height: 35px;
    padding-top: $paddingTop;
  }
}

.container-dx {
  height: $height;
  width: 50%;
  @include flexCenter;
  // debug
  border: solid blue 2px;
  img {
    height: 400px;
    width: 100%;
  }
}

.social-button {
  @include flexStart;
  padding: 10px 0;
  // debug
  border: solid black 1px;
  .button1 {
    @include flexCenter;
    width: 26%;
    height: 40px;
    border-radius: 10px;
    background-color: #30488f;
    color: white;
    .gmail{
      @include imgSocialSize;
    }
    &:hover {
      background-color: #233569;
      font-weight: 500;
      transition: 0.3s;
    }
  }

  p{
    padding: 10px;
  }
  .button2 {
    @include flexCenter;
    width: 26%;
    height: 40px;
    border-radius: 10px;
    background-color: #30488f;
    color: white;
    .gmail{
      @include imgSocialSize;
    }
    &:hover {
      background-color: #233569;
      font-weight: 500;
      transition: 0.5s;
    }
  }
}

// ******************* ||||||| SECTION 1 |||||||******************
